@charset "UTF-8";
body {
  background-color: #F6F6F6;
  border-top: solid 8px #6cc6c4;
  font-family: Verdana,Arial,Helvetica,'meirio','メイリオ','Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4',Osaka,'ＭＳ Ｐゴシック',sans-serif;
}

.container {
  width: 920px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 128px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-info {
  height: 100%;
  color: #515151;
}

header .header-info p {
  font-size: 10px;
}

header .header-info p.catchcopy {
  padding: 12px 0;
}

header .header-info p.reserve-detail {
  border: solid 1px #d6d6d6;
  padding: 8px 19px;
}

header .header-info p.reserve-detail span {
  color: #b22c00;
}

header .header-info .tel {
  padding: 10px 0;
  font-size: 25px;
}

header .header-info .tel img {
  padding-right: 3px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 1px #47b8b5;
  border-radius: 5px;
  height: 72px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9ce3e1), to(#6cc6c4));
  background-image: linear-gradient(#9ce3e1 0%, #6cc6c4 100%);
  color: #fff;
  font-weight: bold;
}

nav ul li {
  width: 20%;
  text-align: center;
}

nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  border-right: solid 1px #47b8b5;
}

nav ul li a:last-child() {
  border-right: none;
}

nav ul li a:hover {
  background-color: #47b8b5;
}

nav ul li a h1 {
  font-size: 14px;
}

nav ul li a p {
  margin-top: 4px;
  font-size: 10px;
}

main {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .side-menu {
  width: 280px;
  margin-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .side-menu ul {
  border: 1px solid #6cc6c4;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

main .side-menu ul li {
  margin: 0 12px;
  border-bottom: 1px solid #6cc6c4;
  height: 42px;
  line-height: 42px;
  position: relative;
  padding-left: 25px;
}

main .side-menu ul li:after {
  content: '';
  display: block;
  position: absolute;
  background: #6cc6c4;
  width: 7px;
  height: 7px;
  top: 16px;
  left: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

main .side-menu ul li a {
  display: block;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #595959;
}

main .side-menu ul li a:hover {
  color: #6cc6c4;
}

main .side-menu ul li:first-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9ce3e1), to(#6cc6c4));
  background-image: linear-gradient(#9ce3e1 0%, #6cc6c4 100%);
  margin: 0;
  padding-left: 15px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #fff;
  font-weight: bold;
}

main .side-menu ul li:first-child:after {
  content: '';
  width: 0;
  height: 0;
}

main .main-contents {
  width: 640px;
}

main .main-contents .news {
  margin-top: 6px;
  padding: 20px;
  background-color: #fff;
  color: #515151;
}

main .main-contents .news h1 {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: solid 3px #6cc6c4;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .main-contents .news ul {
  padding-bottom: 20px;
  font-size: 13px;
}

main .main-contents .news ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
  padding: 10px 0;
  border-bottom: dotted 1px #cfcccc;
}

main .main-contents .news ul li h2 {
  font-weight: bold;
  padding-right: 30px;
  width: 25%;
  line-height: 1.8;
}

main .main-contents .news ul li p {
  line-height: 1.5;
  width: 75%;
}

footer {
  margin-top: 20px;
  color: #515151;
  font-size: 13px;
}

footer .low-menu {
  background-color: #6cc6c4;
  color: #fff;
  border-radius: 5px;
  height: 30px;
}

footer .low-menu ul li {
  padding-left: 15px;
  font-size: 13px;
  display: inline-block;
}

footer .low-menu ul li::before {
  content: "○";
  font-size: 24px;
  font-weight: bold;
  padding-right: 10px;
}

footer .low-menu ul li a:hover {
  text-decoration: underline;
}

footer .footer-info {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: solid 2px #6cc6c4;
  text-align: right;
}

footer .copyright {
  padding-top: 14px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */